*{
    margin: 0% auto;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
/* body{
    background-color: black;
} */
/*style css fist heading */
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/banner/banner3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}


.text-primary {
    color: #FD6E0A;
    text-align: right;
    

}
.text-heading{
    width: 45%;
    color: lightgoldenrodyellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%,-55%);
    text-align: right;
    background-position: right;
}

.text-heading h1{
    font-size: 62px;
    text-align: right;
    position: relative;
    color: yellow;
}

.text-heading p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: black;
    text-align: right;
    position: right;
}
/* btn color */

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: red;
}

.style-images{
    margin: 0 250px;
    


}

.pic-header{
    background: #FFF8F3;
    background-repeat:no-repeat ;
    background-position:top left,right ;
    background-image: url(../images/header_bg.png);
    
}
.style-head{
    color: lightgoldenrodyellow;
    transform: translate(-10%,-55%);

    
    

}


.paragraph-first-pra h1{
    font-size: 62px;
    margin: 10px 0 40px;
    font-size: 34px;
    color:navy ;
    position: relative;
    text-align: right;
    position: right;
  
}

.paragraph-first-pra{
    margin: 10px 0 40px;
    font-size: 18px;
    color:black;
    text-align: right;
    position: relative;
   
}
/* future plan style plan head class */
.plan-head{
    text-align: center;
    color: skyblue;
    font-size: 100px;
}

.skills-container{
    display: flex;
    gap: 24px  ;

}

#header-first{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}
#text-heading h1 b{
    font-size: 62px;
    text-align: right;
    position: relative;
    color: yellow;
    font-size: 400%;
}
/* input field */
input{
    height: 64px;

}
/* last sentence */
#last-sentence{
    text-align: center;
    color: #FD6E0A;
}

